@font-face {
    font-family: 'Natasha';
    src: url('Natasha.eot');
    src: local('Natasha'),
        url('Natasha.eot?#iefix') format('embedded-opentype'),
        url('Natasha.woff2') format('woff2'),
        url('Natasha.woff') format('woff'),
        url('Natasha.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

